@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&family=Merriweather:wght@900&family=Open+Sans&display=swap');
.head1{
    
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
}
.align{
    
    width: 120vw;
    height: 80vh;
}

.head3{
    font-weight: lighter;
    font-size: 17px;
}