.g-signIn{
    width: 280px;
    margin: 0 auto 10px;
    color: #000;
    background: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px;
}

.card{
    padding: 20px 25px;
}

.span{
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    transition: .4s;
}

.span:hover{
    color: #0056b3;
}

.g-signIn img{
    width: 30px;
    float: left;
}